[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pydantic = {extras = ["email"] }
blacksheep = "*"
redis = "*"
uvicorn = {extras = ["standard"] }

[dev-packages]
ipython = "*"
mypy = "*"
debugpy = "*"
pytest = "*"

[requires]
python_version = "3.12"
